:root {
    --maincolor: beige;
    --accentColor: blue;
    --subColor: red;
}

body {
    background-color: var(--maincolor);
    color: var(--accentColor);
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}


#content *{
    margin: auto;
    margin-top: 10px;
}

label { float: left; width: 10em; margin-right: 1em;}

select {width: 144px;}

