:root {
    --maincolor: beige;
    --accentColor: blue;
    --subColor: red;
}

body {
    background-color: var(--maincolor);
    color: var(--accentColor);
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.round {
    border-radius: 50%;
}