/* GENERAL */

body {
  font-family: var(--font1);
  margin: 0px;
  transition: background-color .3s ease, color .3s ease;
  overflow-y: hidden;
}

.popup {
  flex-direction: column;
  padding: 15px;
  background-color: var(--mainColor);
  border: 1px solid grey;
  border-radius: 10px;
  justify-content: flex-start;
  width: calc(100vw - 52px);
}

.ghost {
  height: 100%;
  width: 100%;
  display: none;
  transition: opacity .3s ease;
  z-index: 2;
}

.active {
  opacity: 1;
  display: flex;
}

.button {
  /* height: 30px; */
  margin: 5px;
  border-radius: 10px;
  background-color: var(--accentColor);
  font-family: var(--font1);
  font-size: var(--fontsize);
  transition: all .2s;
  color: var(--fontColor2);
  border: none;
  cursor: pointer;
  padding: 7px;
  opacity: 1;

  /* boxShadow */
  -webkit-box-shadow: inset 2px 2px 7px 0px rgba(100,100,100, 0.4); 
  box-shadow: inset 2px 2px 7px 0px rgba(100,100,100, 0.4);
}

input[type='text'], input[type='password'], input[type='date'] {
  background-color: var(--subColor);
  border: none;
  padding: 2.5px;
}

/* .button:hover {
  background-color: var(--accentColor);
  color: var(--fontColor2);
} */

label {
  margin: 5px;
}

#popup input[type="text"], #popup input[type="password"], #popup label {
  width: 80%;
  height: 20px;
  text-align: left;
}

/* HEADER */

header {
  height: 10vh;
  background-color: var(--accentColor);
}

#header {
  height: 100%;
  justify-content: space-between;
}

#header > * {
  flex-grow: 1;
  flex-basis: 100px;
}

#todoLogo {
  color: var(--fontColor2);
  font-size: 30px;
  margin-left: 10px;
  justify-content: left;
  font-family: 'Fredoka One', cursive;
}

#profileIcon, #mauLogo a {
  height: 35px;
  width: 35px;
  background-size: contain;
  background-repeat: no-repeat;
}

#profileIcon {
  background-image: url(../icons/personIcon.png);
  background-position: center;
}

#mauLogo a {
  background-image: url(../icons/mau.png);
}

#mauLogo {
  justify-content: right;
  margin-right: 10px;
}

/* MAIN CONTENT */

main {
  height: 80vh;
  position: relative;
}

#content {
  padding: 10px;
  height: calc(80vh - 20px);
  width: calc(100vw - 20px);

  background: -moz-linear-gradient(149deg, rgba(245,245,245,.3) 0%, rgba(50,50,50,0.3) 100%);
  background: -webkit-linear-gradient(149deg, rgba(245,245,245,.3) 0%, rgba(50,50,50,0.3) 100%);
  background: linear-gradient(149deg, rgba(245,245,245,.3) 0%, rgba(50,50,50,0.3) 100%);

}

/* CONTROLS */

#controls {
  height: 100%;
  justify-content: space-evenly;
}

#controls div {
  height: 35px;
  width: 35px;
  background-size: cover;
}

#controlBar {
  height: 10vh;
  background-color: var(--subColor);
}

#home {
  background-image: url(../icons/house.png);
}
#filter {
  background-image: url(../icons/funnel.png);
}
#completed {
  background-image: url(../icons/folder.png);
}
#add {
  background-image: url(../icons/plus.png);
}

/* LABELS DIV */

.labelBox {
  height: 100px;
  width: 100%;
  transform: translateY(0);
  background-color: var(--subColor);
  transition: all .1s ease;
}

#labelControls {
  width: 100vw;
}

#labelEdit {
  justify-content: space-between;
}

.activeLabel {
  transform: translateY(-100%);
}

#menuDown {
  background-image: url(../icons/down-arrow.png);
  background-size: contain;
  background-repeat: no-repeat;
  height: 35px;
  width: 35px;
  margin: 5px;
}

.slideIn {
  transition: all .2s ease;
  opacity: 0;
  /* transform: translateX(-100%); */
}

.slideIn-active {
  opacity: 1;
  /* transform: translateX(0%); */
}

.deactivated {
  opacity: .5;
}

.labelHighlight {
  border: 3px solid var(--accentColor);
}

/* CUSTOMIZE LABEL */

.labelOption {
  height: 45px;
  width: 45px;
  border-radius: 50%;
  background-size: 75%;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.gridEdit {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 10px;
  margin-top: 10px;
  width: 100%;
}

#preview {
  height: 70px;
  width: 70px;
  border-radius: 50%;
  background-color: var(--accentColor);
  margin: 10px;
}