/* CSS for task in home() */

.taskHead {
    display: flex;
    align-items: center;
    margin-top: calc(var(--labelIconSize)*.33);
}

/* .taskName {
    font-size: calc(var(--fontSize) * 1.3);
    set in js to accout for long phrases tto fitt 
} */

.taskLabel {
    width: var(--labelIconSize);
    height: var(--labelIconSize);
    background-image: url("../icons/icon.png");
    background-size: cover;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    margin-right: calc(var(--labelIconSize)*.25);
    flex-shrink: 0;
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center;

    box-shadow: inset 0px 0px 11px 4px rgba(200,200,200,.05);
}

.labelInfo {
    margin-top: 5px;
    border-bottom: 1px solid var(--accentColor);
}

.subtasks {
    margin-left: calc(var(--labelIconSize) * .5);
    
}

.subtasks > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0;
    
}

.subtasks > div > div:first-child {
    flex-grow: 3;
    flex-basis: 10px;
    justify-content: space-between;
}
.subtasks > div > div:last-child {
    flex-grow: 1;
    flex-basis: 10px;
    justify-content: flex-start;
}

.subtasks > div > div {
    display: flex;
}

.subtasks > div > div > div {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.taskInfo {
    display: none;
    
}

.taskActions {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.archived {
    color: var(--archivedColor);
    text-decoration-line: line-through
}

.archived .button {
    background-color: teal;
}


/* CSS for EditTask*/

.editName > *{
    display: block;
    margin: 0 0 5px 5px;
}

#taskNameInput {
    width: 90vw;
    

}

.editLabel {
    margin-top: 5px;
}

.editLabel > div {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    
}

.editLabel select {
    font-size: calc(var(--fontSize) * 0.8);
}

.subtaskTitle, #sharedHeader, .themeContainer  {
    border-top: 1px solid var(--accentColor);
    padding-top: 5px;
}

.subtaskTitle, #sharedHeader, label[for="taskNameInput"], label[for="labelSelect"] {
    font-size: calc(var(--fontSize) * 1.1);
}

#dateContainer {
    height: calc(var(--fontSize) * 1.25);
}

#subtaskTitleContainer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#subtaskContainer {
    margin: 5px 0 5px 5px;
    min-height: calc(var(--fontSize) * 3);
    position: relative;
}

#addSubtask {
    margin-top: calc(var(--fontSize) * -1.25);
}

.editSubtask {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: calc(var(--fontSize) * 2.5);
}

.editSubtask > div:last-child {
    display: flex;
    justify-content: flex-end;
}

.editSubtask > :last-child, .editSubtask > :nth-child(2)  {
    flex-basis: 10px;
    flex-grow: 1;
}

.editSubtask > :first-child {
    flex-basis: 10px;
    flex-grow: 2;
}

#sharedHeader{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

#oldCode {
    margin: 0px;
}

#oldCode > span {
    font-weight: bold;
}

#shareContainer {
    margin: 5px 0 5px 5px;
    min-height: calc(var(--fontSize) * 2.5);
}

#shareContainer div {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#shareContainer > div > :nth-child(2){ 
    margin-left: calc(var(--fontSize) * 1.25);
}